html, body, canvas {
    height: 100vh;
    width: 100vw;

    margin: 0;
    padding: 0;

    background: #11e8bb;
    background: -moz-linear-gradient(top,  #11e8bb 0%, #8200c9 100%); 
    background: -webkit-linear-gradient(top,  #11e8bb 0%,#8200c9 100%); 
    background: linear-gradient(to bottom,  #11e8bb 0%,#8200c9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#11e8bb', endColorstr='#8200c9',GradientType=0 );
    overflow: hidden;
}